<style>
    #file-input { display: none; }
    .md-radio-outer { display: none !important; }
    .md-radio-inner { display: none !important; }
</style>
<div class="col-md-12 voffset4">
    <md-toolbar class="col-md-12 combo_blue_bg glass">
        <div class="btn-block col-md-6">
            <div class="col-md-2"><span class="logo col-md-12 white_bg combo_blue">Patients</span></div>
            <div class="frame frame_active small">                        
                <a  [routerLink]="['/patients']">
                    <i class="material-icons line-height-small">people</i>
                </a>
            </div>
            <div class="frame frame_active mini hoffset8">                        
                <a  (click)="setPatientFormPage(patientFormPage.Personal)" >
                    <md-icon class="material-icons line-height-mini"  [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Personal}" svgIcon="account-card-details"></md-icon>                    
                </a>
            </div> 
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="setPatientFormPage(patientFormPage.Gallery)"  >
                    <i class="material-icons line-height-mini"  [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Gallery}">add_a_photo</i>             
                </a>
            </div>    
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="setPatientFormPage(patientFormPage.Contact)"  >
                    <i class="material-icons line-height-mini" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Contact}">contact_mail</i>            
                </a>
            </div>
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="setPatientFormPage(patientFormPage.HealthInfo)" >
                    <md-icon class="material-icons line-height-mini"  [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.HealthInfo}" svgIcon="file-account"></md-icon>
                </a>
            </div>
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="setPatientFormPage(patientFormPage.Summary)" >
                    <md-icon class="material-icons line-height-mini" svgIcon="file-check" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Summary}"></md-icon>
                </a>
            </div>
            <div class="frame frame_active mini hoffset2">   
                <a [routerLink]="['/patients']" >
                    <i class="material-icons line-height-mini" [ngClass]="iconClass">arrow_back</i>                          
                </a>
            </div>            
        </div>
    </md-toolbar>
    <div id="card" class="white_active">
        <md-card-content>
            <form [formGroup]="patientForm" novalidate class="col-md-10"> 
                <div  *ngIf="(patientStore.patientFormPage | async ) == patientFormPage.Personal"  formGroupName="personal">                   
                    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
                        <md-icon class="material-icons valign_mid" svgIcon="account-card-details"></md-icon>
                        <span class="hoffset1 valign_mid">PERSONAL INFO</span>
                    </md-chip>
                    <div class="col-md-12 action_btn voffset8">
                        <div  class="col-md-6 dark_blue">
                            <md2-datepicker  format="DD/MM/YYYY" ngDefaultControl class="dark_bloe" formControlName="birthdate" placeholder="Birthday"></md2-datepicker>
                        </div>
                        <div class="md-col-6">
                            Gender 
                            <md-radio-group #group ngDefaultControl formControlName="gender">
                                <md-radio-button *ngFor="let it of avatarData"
                                    [value]="it.value"
                                    [ngClass]="it.color"
                                    [aria-label]="it.title" 
                                    [checked]="group.value === it.value">
                                    <button md-mini-fab   color="{{it.color}}" aria-label="Eat cake">
                                        {{it.title}}
                                    </button>       
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <md-input-container color="primary" class="action_btn example-full-width voffset4">                           
                        <input mdInput  ngDefaultControl placeholder="First name"  class="dark_blue" formControlName="firstname" required>
                        <md-error [hidden]="!patientForm.controls.personal.controls.firstname.touched || (patientForm.controls.personal.controls.firstname.valid && patientForm.controls.personal.controls.firstname.touched)">
                            First Name Required
                        </md-error>
                    </md-input-container>
                    <md-input-container  class="action_btn example-full-width voffset4">
                        <input mdInput ngDefaultControl formControlName="middlename" class="dark_blue" id="middlename" placeholder="Middlename" [(ngModel)]="patient.middlename" [value]="patient.middlename">
                    </md-input-container>
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput  ngDefaultControl formControlName="lastname" class="dark_blue" id="lastname" placeholder="Last name">
                        <md-error [hidden]="!patientForm.controls.personal.controls.lastname.touched || (patientForm.controls.personal.controls.lastname.valid && patientForm.controls.personal.controls.firstname.touched)">
                            Lastname required
                        </md-error>
                    </md-input-container>
                </div>
                <div  *ngIf="(patientStore.patientFormPage | async ) == patientFormPage.Contact" formGroupName="contact" >
                    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
                        <i class="material-icons valign_mid">contact_mail</i>
                        <span class="hoffset1 valign_mid">CONTACT INFO</span>  
                    </md-chip>
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput ngDefaultControl type="email" class="dark_blue" placeholder="Email"  id="email" formControlName="email" required>
                        <md-error [hidden]="!patientForm.controls.contact.controls.email.touched || (patientForm.controls.contact.controls.email.valid && patientForm.controls.contact.controls.email.touched )">
                            Email required
                        </md-error>
                    </md-input-container> 
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput ngDefaultControl formControlName="street" class="dark_blue" placeholder="Street" />
                    </md-input-container>      
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput ngDefaultControl formControlName="place" class="dark_blue" placeholder="Place" />
                    </md-input-container>   
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput class="col-md-6 dark_blue" ngDefaultControl formControlName="phone"  placeholder="Phone number">
                    </md-input-container>
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput class="col-md-6 dark_blue" ngDefaultControl formControlName="mobilephone"  placeholder="Mobile Phone number" >
                    </md-input-container>
                </div>   
                <div  *ngIf="(patientStore.patientFormPage | async ) == patientFormPage.HealthInfo" formGroupName="additional">                                       
                    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
                        <md-icon class="material-icons valign_mid" svgIcon="file-account"></md-icon>
                        <span class="hoffset1 valign_mid">HEALTH INFO</span>  
                    </md-chip>
                    <md-input-container class="action_btn example-full-width voffset4">
                        <input mdInput placeholder="Allergies" ngDefaultControl formControlName="allergies" class="dark_blue">
                    </md-input-container>
                    <md-input-container class="action_btn example-full-width voffset4">
                        <textarea mdInput ngDefaultControl formControlName="notes" placeholder="Notes" class="dark_blue"></textarea>
                    </md-input-container>                           
                </div>
                <div  *ngIf="(patientStore.patientFormPage | async ) == patientFormPage.Gallery">                    
                    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
                        <i class="material-icons valign_mid">add_a_photo</i>
                        <span class="hoffset1 valign_mid">GALLERY</span>
                    </md-chip>
                </div>
                <div *ngIf="(patientStore.patientFormPage | async ) == patientFormPage.Summary">
                    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
                        <md-icon class="material-icons valign_mid" svgIcon="file-check"></md-icon>
                        <span class="hoffset1 valign_mid">SUMMARY</span>
                        <div class="frame mini hoffset2">                        
                            <a (click)="onSubmit()" [ngClass]="{'not-active': !patientForm.valid }" >
                                <i class="material-icons line-height-mini">check</i>                           
                            </a>  
                        </div>
                    </md-chip>
                   <div class="col-md-12">
                    <div class="contact white_active dark_blue_bg pos_relative col-md-6">
                        <span *ngIf="!patientForm.value.personal.firstname">FIRSTNAME</span>
                        <span *ngIf="patientForm.value.personal.firstname">{{ patientForm.value.personal.firstname | capitalize }}</span>
                        <span> {{ patientForm.value.personal.middlename | capitalize }} </span>
                        <span *ngIf="!patientForm.value.personal.lastname">LASTNAME</span>
                        <span *ngIf="patientForm.value.personal.lastname">{{ patientForm.value.personal.lastname | capitalize }}</span>
                    </div>
                    <md-card-avatar class="col-md-12">   
                        <a *ngIf="!patientForm.value.personal.photo"  class="profile-spot middle no-border">
                            <img *ngIf="patientForm.value.personal.gender == 'F'"  src="assets/images/svg/human-female.svg"  class="img" />
                            <img *ngIf="patientForm.value.personal.gender == 'M'"  src="assets/images/svg/human-male.svg" class="img" />
                        </a>
                        <a *ngIf="patientForm.value.personal.photo" class="profile-spot small no-border">
                            <img  src="uploads/{{patientForm.value.personal.photo}}"  class="img" />
                        </a>
                    </md-card-avatar>     
                    </div>
                    <md-chip-list class="mat-chip-list-stacked voffset4 col-md-4">                       
                        <md-chip selected="true" color="warn" class="combo_blue_bg white line-height-mini voffset4">
                            <i class="material-icons valign_mid">perm_contact_calendar</i>
                            <span class="hoffset2">{{patientForm.value.personal.birthdate}}</span>
                        </md-chip>                       
                        <md-chip selected="true" color="warn"  class="combo_blue_bg white line-height-mini">
                            <i class="material-icons valign_mid">home</i>
                            <span class="hoffset2">{{ patientForm.value.contact.street | capitalize }} {{ patientForm.value.contact.place | capitalize }}</span>
                        </md-chip>
                        <md-chip  selected="true" color="warn" class="combo_blue_bg  white line-height-mini">
                            <i class="material-icons valign_mid">contact_mail</i>
                            <span class="hoffset2">{{patientForm.value.contact.email}}</span>
                        </md-chip>
                        <md-chip selected="true"  color="warn"  class="combo_blue_bg white line-height-mini">
                            <i class="material-icons valign_mid">contact_phone</i>
                            <span class="hoffset2">{{ patientForm.value.contact.phone | capitalize }}</span>
                        </md-chip>
                        <md-chip selected="true" color="warn" class="combo_blue_bg white line-height-mini">
                             <i class="material-icons valign_mid">smartphone</i>
                             <span class="hoffset2">{{ patientForm.value.contact.mobilephone | capitalize }}</span>
                        </md-chip>
                    </md-chip-list> 
                    <md-chip-list class="mat-chip-list-stacked voffset4 col-md-7">
                        <md-chip selected="true" color="warn"  class="combo_blue_bg white col-md-5 line-height-mini">
                            <md-icon class="material-icons valign_mid" svgIcon="clipboard-account"></md-icon>
                            <span class="hoffset2">{{ patientForm.value.additional.allergies}}</span>
                        </md-chip>
                        <md-chip  selected="true" color="warn" class="col-md-5 hoffset2 combo_blue_bg white line-height-mini">
                            <md-icon class="material-icons valign_mid" svgIcon="comment-account"></md-icon>
                            <span class="hoffset2">{{patientForm.value.additional.notes}}</span>
                        </md-chip>
                     </md-chip-list>
                </div>
            </form> 
        </md-card-content>
    </div>
</div>
