<div class="col-md-12">
    <md-toolbar class="col-md-12 combo_blue_bg glass voffset6">
        <div class="btn-block col-md-6">
            <div class="col-md-2"><span class="logo col-md-12 white_bg combo_blue">Patient</span></div>
            <div class="frame frame_active small">                        
                <a  [routerLink]="['/patients']">
                    <i class="material-icons line-height-small">people</i>
                </a>
            </div>   
            <div class="frame frame_active mini hoffset8">                        
                <a  (click)="navigateTo('personal')" >
                    <i class="material-icons line-height-mini" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Personal}">person</i>          
                </a>
            </div> 
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="navigateTo('gallery')" >
                    <i class="material-icons line-height-mini"  [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Gallery}">add_a_photo</i>             
                </a>
            </div>    
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="navigateTo('contact')" >
                    <i class="material-icons line-height-mini" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Contact}">contact_mail</i>            
                </a>
            </div>
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="navigateTo('health')" >
                    <i class="material-icons line-height-mini" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.HealthInfo}">description</i>                 
                </a>
            </div>
            <div class="frame frame_active mini hoffset2">                        
                <a  (click)="navigateTo('treatments')" >
                    <i class="material-icons line-height-mini" [ngClass]="{'combo_orange': (patientStore.patientFormPage | async ) == patientFormPage.Treatments}">assignment</i>                     
                </a>
            </div>
        </div>
    </md-toolbar>
    <div id="card" class="combo_blue_bg"> 
        <div class="contact glass" *ngIf="patientStore.selected | async">{{ (patientStore.selected | async)?.firstname  }} {{ (patientStore.selected | async)?.lastname  }}</div>
        <md-card-avatar>   
            <a *ngIf="!(patientStore.selected | async)?.photo"  class="profile-spot middle no-border">
                <img *ngIf="(patientStore.selected | async)?.gender == 'F'"  src="assets/images/svg/human-female.svg"  class="img" />
                    <img *ngIf="(patientStore.selected | async)?.gender == 'M'"  src="assets/images/svg/human-male.svg" class="img" />
            </a>
            <a *ngIf="(patientStore.selected | async)?.photo" class="profile-spot small no-border">
                <img  src="uploads/{{(patientStore.selected | async)?.photo}}"  class="img" />
            </a>
        </md-card-avatar>

        <md-card-content class="col-md-12">
            <router-outlet></router-outlet>                    
        </md-card-content>
    </div>
</div>
