<div class="col-md-12">
    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
        <i class="material-icons valign_mid">school</i>
        <span class="hoffset1 valign_mid">EDUCATION INFO</span>  
    </md-chip>
</div>
<md-chip-list  class="mat-chip-list-stacked action_btn voffset4 col-md-4"> 
   
    <md-chip selected="true" color="warn" class="combo_blue_bg white  line-height-mini voffset4">
        <div class="col-md-4">
            <i class="material-icons valign_mid">school</i>
            <span class="hoffset1 valign_mid">Degree Title</span>
        </div>
        <span> {{(doctorStore.selected | async)?.title}}</span>
    </md-chip> 
    <md-chip selected="true" color="warn" class="combo_blue_bg white  line-height-mini voffset4">
        <div class="col-md-4">
            <md-icon class="material-icons valign_mid" svgIcon="calendar-blank"></md-icon>
            <span class="hoffset1 valign_mid">Degree Year</span>
        </div>
        <span> {{(doctorStore.selected | async)?.degreeyear}}</span>
    </md-chip> 
    <md-chip selected="true" color="warn" class="combo_blue_bg white  line-height-mini voffset4">
        <div class="col-md-4">
            <md-icon class="material-icons valign_mid" svgIcon="city"></md-icon>
            <span class="hoffset1 valign_mid">Degree Place</span>
        </div>
        <span>{{(doctorStore.selected | async)?.degreeplace}}</span>
    </md-chip>
</md-chip-list>