<div class="col-md-12">
    <md-chip selected="true" color="accent"  class="badge white_active action_btn col-md-4 voffset4">
        <i class="material-icons valign_mid">assignment</i>
        <span class="hoffset1 valign_mid">TREATMENTS</span>  
        <div class="frame frame_active mini hoffset2">                        
            <a [routerLink]="['form']" >
                <i class="material-icons line-height-mini">plus_one</i>                           
            </a>  
        </div>
    </md-chip>
    <div class="col-md-11">
        <md-grid-list cols="3" rowHeight="350px" gutterSize="20px" class="voffset4">
            <md-grid-tile  class="md-elevation-z8"  *ngFor="let treatment of treatmentStore.treatments | async "  colspan="1" rowspan="1">
                <div id="item" class="combo_blue_bg glass" >
                    <md-chip-list  class="mat-chip-list-stacked action_btn voffset4 col-md-9">
                        <md-chip selected="true" color="warn" class="white_active voffset4 line-height-mini">
                            <div class="col-md-4">
                                <md-icon class="material-icons valign_mid" svgIcon="account-box-outline"></md-icon>
                                <span class="hoffset1 valign_mid">Therapy</span>
                            </div>
                            <span class="hoffset2"> {{treatment.therapy}}</span>
                        </md-chip>
                        <md-chip selected="true" color="warn" class="white_active line-height-mini">
                            <div class="col-md-4">
                                <md-icon class="material-icons valign_mid" svgIcon="square-inc-cash"></md-icon>
                                <span class="hoffset1 valign_mid">Price</span>
                            </div>
                            <span class="hoffset2"> {{treatment.price}}</span>
                        </md-chip> 
                        <md-chip selected="true" color="warn" class="white_active line-height-mini">
                            <div class="col-md-4">
                                <i class="material-icons valign_mid">note</i>
                                <span class="hoffset1 valign_mid">Diagnose</span>
                            </div>
                            <span class="hoffset2"> {{treatment.diagnoseid}}</span>
                        </md-chip> 
                        <md-chip selected="true" color="warn" class="white_active line-height-mini">
                            <div class="col-md-4">
                                <i class="material-icons valign_mid">face</i>
                                <span class="hoffset1 valign_mid">Doctor</span>
                            </div>
                        </md-chip> 
                    </md-chip-list>
                    <md-grid-tile-footer class="glass">
                        <div class="frame white_bg xs">                        
                            <a  (click)="deleteTreatment(treatment)">
                                <md-icon class="combo_blue" svgIcon="account-remove"></md-icon> 
                            </a>
                        </div>
                    </md-grid-tile-footer>
                </div>
            </md-grid-tile>           
        </md-grid-list>              
    </div>
</div>
